body{
    background-color: rgba(20, 16, 16, 0.836);
    color:white;
    font-size:25px ;
}
a{
    color: #ffffff;
    font-size: 30px;
    font-family: arial;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    
    padding: 20px;
    width: 96%;
    justify-content: center;
    
}
div{
    padding: 10px;
    background-color: rgba(22, 21, 21, 0.356);

   
}

img{
    border-radius: 20px;
   
}



